**/*.swp
cover.out
*~
minio
!*/
site/
**/*.test
**/*.sublime-workspace
/.idea/
/Minio.iml
**/access.log
vendor/**/*.js
vendor/**/*.json
release
.DS_Store
*.syso
coverage.txt
.vscode/
*.tar.bz2
parts/
prime/
stage/
.sia_temp/
config.json
/data
browser/github-com-kevinburke-go-bindata-go-bindata-linux-amd64.tar.gz
browser/github-com-kevinburke-go-bindata-go-bindata-linux-amd64.tar.gz.1
browser/go-bindata
